[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dlib = "==19.22.0"
matplotlib = "==3.2.2"
numpy = "*"
openvino = "==2021.4.0"
torchvision = "*"
tqdm = "==4.55.0"
torch = "*"
onnxruntime = "*"
scipy = "==1.2.1"
Pillow = "==8.3.1"
ipykernel = "*"
ninja = "*"
opencv-python = "*"
onnx = "*"
onnx-tf = "*"

[dev-packages]

[requires]
python_version = "3.7"
